@model IEnumerable<SMS.Models.TeacherSection>

@{
    ViewBag.Title = "ViewTeacher";
}

<h2 id="heads">ViewTeacher</h2>


<table id ="MyTable" style="width:70%;margin-left:15%; margin-right:15%" class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.FullName)
        </th>
        <th>
            Section Name
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Section.Name)
        </td>

        
    </tr>
}

</table>
