@model IEnumerable<SMS.Models.Class>
@{
    ViewBag.Title = "ViewClasses";
    Layout = null;
}
<table class="table table-bordered"id="ClassTable">
    <tr>
        <th>Class Name</th>
        <th>Actions</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr class="Search">

           <td>@item.ClassName</td>
           <td>
               <button class="btn btn-warning btn-edit" data-id="@item.ClassId"><i class="glyphicon glyphicon-pencil"></i></button>
               <button class="btn btn-danger btn-delete" data-id="@item.ClassId"><i class="glyphicon glyphicon-trash"></i></button>
               <button class="btn btn-success "><i class="glyphicon glyphicon-file"></i><a href="http://localhost:60487/Admin/section/Index?class_id=@item.ClassId">Sections</a></button>
               <button class="btn btn-info "><i class="glyphicon glyphicon-file"></i><a href="http://localhost:60487/Admin/course/Index?class_id=@item.ClassId">Courses</a></button>

           </td>
        </tr>
    }
</table>
