
@{
    ViewBag.Title = "MainView";
    Layout = "";
}
<html>
<head>
    <title>Welcome to Elite School Home page !</title>
    <link rel= "stylesheet" type="text/css" href="/Content/dist/css/mainstyle.css">
</head>
<body>
    <section class="intro">

        <div class="inner">
            <div class="content">
                <h1 id="fade">Welcome To Elite School </h1>
                <a class="btn" href="http://localhost:60487/Student/Account/Login">Login as Sudent</a> &nbsp &nbsp &nbsp  <a class="btn" href="http://localhost:60487/Admin/Account/Login">Login as Admin</a><br /> <br /><br /><center><a style="margin-top:20%;" class="btn" href="http://localhost:60487/Teacher/Account/Login">Login as Techer</a></center>
            </div>
        </div>
    </section>






</body>
</html>